@model CurrencyConverterModel

<form asp-action="Convert" asp-controller="Currency">
    <div class="form-group">
        <label asp-for="CurrencyFrom"></label>
        <input asp-for="CurrencyFrom" class="form-control"/>
        <span asp-validation-for="CurrencyFrom"></span>
    </div>
    <div class="form-group">
        <label asp-for="CurrencyTo"></label>
        <input asp-for="CurrencyTo" class="form-control"/>
        <span asp-validation-for="CurrencyTo"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" class="form-control"/>
        <span asp-validation-for="Quantity"></span>
    </div>
    <button type="submit">Submit</button>
    <div asp-validation-summary="All"></div>
</form>